mysql2sqlite/
__pycache__/
.directory
*~
Q_*
PUSH
hexagrams*2024.sql
*.zip
trigrams*2024.sql
x*
.~*'
.#*
*lock*
safe/*
out.md
out.pdf
latest_comment.txt
sb
defs/final/
defs/bin/
DEADJOE
*.pdf
*.ott
*.ott
*.docx
book/v2/images_archive/
book/v2/bin/safe/
book/v2/bin/safe2/
book/v2/includes/
RSYNC
book/v2/keys/
book/v2/ok2/
book/v2/colon/
book/v2/_v3_colon/
book/v2/converted/
archive/
book/v2/_v1/
book/v2/_v2/
book/v2/_v3/
*.org
*copy*
book/v2/bin/fix_quotes.py
book/v2/bin/makeallmd.py.ORG
*.psd
*.BAK
book/v2/bin/grids/
book/v2/ok6/
book/v2/ok7/
book/assets/
book/v2/bin/.env
book/v2/ok10_openai_gpt-4o/
book/v2/ok10_ppx_sonar/
book/v2/prod/Thumbs.db
book/v2/prod/Thumbs.db:encryptable

book/intro/Images/
book/intro/Latest/
book/intro/content/iching_intro.html

*.ORG
*Thumbs*
book/intro/bin/frames/
book/intro/bin/packages/
book/intro/bin/states/
*.css
book/intro/Styles/iching_intro_nopage
*.png
