mysql2sqlite/
__pycache__/
.directory
*~
Q_*
PUSH
hexagrams*2024.sql
*.zip
trigrams*2024.sql
x*
.~*'
.#*
*lock*
safe/*
out.md
out.pdf
latest_comment.txt
sb
defs/final/
defs/bin/
DEADJOE
*.pdf
*.ott
*.ott
*.docx
book/v2/images_archive/
book/v2/bin/safe/
book/v2/bin/safe2/
book/v2/includes/
RSYHC

